.white-background{
	background: white;
	border: 3px solid black;

	position: absolute;

	left: 50%;
	top: 50%;

	transform-origin: center;
	transform: translate(-50%, -50%);

	width: 50vw;
	height: 30vw;
}

.red-circle {
	position: absolute;

	left: 50%;
	top: 50%;

	transform-origin: center;
	transform: translate(-50%, -50%);

	width: 20vw;
	height: 20vw;
}

.line0 {
	position: absolute;
	width: calc(100% / 11 * 3);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 0);

	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line1 {
	position: absolute;
	width: calc(100% / 11 * 7);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 1);

	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line2 {
	position: absolute;
	width: calc(100% / 11 * 9);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 2);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line3 {
	position: absolute;
	width: calc(100% / 11 * 9);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 3);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line4 {
	position: absolute;
	width: calc(100% / 11 * 11);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 4);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line5 {
	position: absolute;
	width: calc(100% / 11 * 11);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 5);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line6 {
	position: absolute;
	width: calc(100% / 11 * 11);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 6);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line7 {
	position: absolute;
	width: calc(100% / 11 * 9);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 7);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line8 {
	position: absolute;
	width: calc(100% / 11 * 9);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 8);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line9 {
	position: absolute;
	width: calc(100% / 11 * 7);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 9);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

.line10 {
	position: absolute;
	width: calc(100% / 11 * 3);
	height: calc(100% / 11);

	left: 50%;
	top: calc(100% / 11 * 10);
	
	transform-origin: center;
	transform: translate(-50%);

	background: red;
}

* {
	background: white;
}